body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; /* Fuentes de sistema */
    color: #333; /* Color de texto crudo */
    background-color: #f8f8f8; /* Fondo plano y minimalista */
    margin: 0;
    padding: 20px;
}


h1, h2, h3 {
    font-weight: bold; /* Tipografía audaz */
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px; /* Bloques de texto amplios */
}
img {
    border: 2px solid #333; /* Bordes duros y sin redondeo */
    margin: 20px 0;
    max-width: 200px;
    height: 200PX;
    display: block;
}

.container {
    display: flexbox;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    border: 2px solid #333; /* Borde para el contenedor */
    padding: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 0px 0px #000; /* Sombra dura y plana */
}

header{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #e0e0e0;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
article{
    margin-bottom: 40px;
    border-bottom: 2px solid #ccc; /* Líneas divisorias */
    padding-bottom: 20px;
}
article:last-child{
    border-bottom: none;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
    font-size: 0.9em;
    color: #666;
    margin-top: 20px;
}
footer p{
    margin: 5px 0;
}
a {
    text-decoration: underline; /* Hipervínculos subrayados */
    color: #007bff; /* Un color primario para contraste */
}

button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border: 2px solid #333;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 0; /* Esquinas cuadradas */
    margin-top: 15px;
    box-shadow: 3px 3px 0px 0px #000; /* Otra sombra dura */
    position: relative; /* Para la sombra adicional en botones */
}

button:after {
    content: '';
    position: absolute;
    background-color: #000;
    top: 6px;
    left: 6px;
    right: -6px;
    bottom: -6px;
    z-index: -1;
}